@keyframes light {
	0% {
		background-color: white
	}

	100% {
		background-color: blue
	}
}

.light {
	color: beige;
	background-color: white;
	border: 2px solid blue;
	height: 5rem;
	border-radius: 1rem;
	width: 5rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
	outline: none
}
.on {
	background-color: blue;
}
