$light-on: #ff0;
$light-off: #000;
$light-border: #666;

.light-button {
  background-color: none;
  border: 2px solid $light-off;
  border-radius: 1.2rem;
  height: 5.7rem;
  margin: 1rem;
  outline: none;
  padding: 0;
  width: 5.6rem;
}

.light {
  background-color: $light-off;
  border: 2px solid $light-border;
  border-radius: 1rem;
  height: 5rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  width: 5rem;
}

.on {
  background-color: $light-on;
}

.light-border-one {
  border: 2px solid $light-off;
  border-radius: 1.1rem;
  height: 5rem;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  width: 5rem;
}

.border-on {
  border: 2px solid $light-on;
}

.light-border-two {
  border: 2px solid $light-off;
  border-radius: 1.2rem;
  height: 5.25rem;
  width: 5.25rem;
}
