$game-container-background: #000;
$moves-text: #fff;

body {
	margin: 0;
	padding:0;
	height: 100%;
	min-width: 1000rem;
}

.games-container {
	overflow: auto;
  background-color: $game-container-background;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
}

.moves{
	background: #000;
	font-family: 'Courier New';
	margin-top: 4rem;
	text-align: center;
	background: none;
	margin-bottom: -3.5rem;
  position: relative;
  width: 100%;

}

.moves-display{
	position: relative;
	margin: 0 auto;
	border-radius: .3em;
	width: 6em;
	color: #fff;
	text-align: center;
	background-color: #000;

	h4 {
		margin: 0
	}
}
